.post .card {
    margin-bottom: 20px;
}

.post .card .table img {
    width: 50px;
}

.post .card .table td.action {
    /* display: flex; */
    /* justify-content: space-between; */
}

.post .card.image .card-header {
    padding-top: 16px;
    padding-bottom: 16px;
}

.post .card.image img {
    width: 100%;
}

.post form #post_state label {
    margin-left: 8px;
    margin-right: 16px;
}
