.post .card {
    margin-bottom: 20px;
}

.post .card .table img {
    width: 50px;
}

.post .card.image .card-header {
    padding-top: 16px;
    padding-bottom: 16px;
}

.post .card.image img {
    width: 100%;
}

.post form #post_state label {
    margin-left: 8px;
    margin-right: 16px;
}

.post .content-box .pagination-block {
    display: flex;
    justify-content: flex-end;
}

.modal .modal-footer .btn {
    width: 10rem;
}
