{% extends 'base.html.twig' %}

{% block title %}Post Create{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('modules/post/css/style.css') }}"/>
{% endblock %}

{% block body %}
    <main class="main post">
        <div class="container">
            <div class="title clearfix">
                <h1 class="float-start">Post Create</h1>
            </div>
            {% include 'post/form.html.twig' %}
        </div>
    </main>

{% include 'post/form-script.html.twig' %}
{% endblock %}
